<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CurrencyLoader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CurrencyLoader.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=(localdb)\v11.0;Initial Catalog=SomeDb;Integrated Security=True;</value>
            </setting>
            <setting name="sourceDDMMYYYY" serializeAs="String">
                <value>http://www.cnb.cz/cs/financni_trhy/devizovy_trh/kurzy_devizoveho_trhu/denni_kurz.txt?date={0}.{1}.{2}</value>
            </setting>
            <setting name="sourceCurrent" serializeAs="String">
                <value>http://www.cnb.cz/cs/financni_trhy/devizovy_trh/kurzy_devizoveho_trhu/denni_kurz.txt</value>
            </setting>
        </CurrencyLoader.Settings>
    </userSettings>
    <system.net>
      <defaultProxy useDefaultCredentials="true" />
    </system.net>
</configuration>